USELESS FILES // IGNORE LIST
lab5 - password loop/.vs/lab5 - password loop/v15/.suo
lab5 - password loop/.vs/lab5 - password loop/v15/Server/sqlite3/db.lock
lab5 - password loop/.vs/lab5 - password loop/v15/Server/sqlite3/storage.ide
lab5 - password loop/.vs/lab5 - password loop/v15/Server/sqlite3/storage.ide-shm
lab5 - password loop/.vs/lab5 - password loop/v15/Server/sqlite3/storage.ide-wal
lab5 - password loop/lab5 - password loop.sln
lab5 - password loop/lab5 - password loop/App.config
lab5 - password loop/lab5 - password loop/bin/Debug/lab5 - password loop.exe
lab5 - password loop/lab5 - password loop/bin/Debug/lab5 - password loop.exe.config
lab5 - password loop/lab5 - password loop/bin/Debug/lab5 - password loop.pdb
lab5 - password loop/lab5 - password loop/Form1.resx
lab5 - password loop/lab5 - password loop/lab5 - password loop.csproj
lab5 - password loop/lab5 - password loop/obj/Debug/DesignTimeResolveAssemblyReferences.cache
lab5 - password loop/lab5 - password loop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
lab5 - password loop/lab5 - password loop/obj/Debug/lab5 - password loop.csproj.CoreCompileInputs.cache
lab5 - password loop/lab5 - password loop/obj/Debug/lab5 - password loop.csproj.FileListAbsolute.txt
lab5 - password loop/lab5 - password loop/obj/Debug/lab5 - password loop.csproj.GenerateResource.cache
lab5 - password loop/lab5 - password loop/Properties/Settings.settings
lab5 - password loop/lab5 - password loop/Properties/Settings.Designer.cs
lab5 - password loop/lab5 - password loop/Properties/Resources.resx
lab5 - password loop/lab5 - password loop/Properties/Resources.Designer.cs
lab5 - password loop/lab5 - password loop/Properties/AssemblyInfo.cs
lab5 - password loop/lab5 - password loop/Program.cs
lab5 - password loop/lab5 - password loop/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
lab5 - password loop/lab5 - password loop/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
lab5 - password loop/lab5 - password loop/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
lab5 - password loop/lab5 - password loop/obj/Debug/lab5___password_loop.Properties.Resources.resources
lab5 - password loop/lab5 - password loop/obj/Debug/lab5___password_loop.Form1.resources
lab5 - password loop/lab5 - password loop/obj/Debug/lab5 - password loop.pdb
lab5 - password loop/lab5 - password loop/obj/Debug/lab5 - password loop.exe
lab5 - password loop/lab5 - password loop/obj/Debug/lab5 - password loop.csprojAssemblyReference.cache
